<!doctype html>
<html  xmlns:th="http://www.thymeleaf.org"
       xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout" xmlns="http://www.w3.org/1999/html">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../static/css/bootstrap.min.css"
          th:href="@{/css/bootstrap.min.css}"/>
    <title>Ajouter un Professeur</title>
</head>
<body>
<header>
    <div class="navbar navbar-expand-lg navbar-dark bg-dark"  style="text-align:left;color:white" >
        <ul class="navbar-nav mr-auto mt-2 mt-lg-0" >
            <li class="nav-item active"><a class="nav-link" th:href="@{/profs}">PROF</a></li>
            <li class="nav-item"><a class="nav-link"  th:href="@{/salle}">Salles</a></li>
            <li class="nav-item"><a class="nav-link" th:href="@{/occuper}">Occupper</a></li>
        </ul>
    </div>
</header>
<div class="container-fluid" >
    <!-- secction des formulaire d'ajout -->
    <div class="card card-primary"  style="margin:70px;" >
        <div class=" card-header bg-primary"  style="color:white">Ajouter un proffesseur</div>
        <div class=" card-body">
            <form method="Post" th:action="@{/saveprof}" th:object="${prof}" >
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="codeprof">Code du proffesseur</label>
                            <input for="code-prof" class="form-control" id="codeprof" th:field="*{codeprof}"
                                   placeholder="Saisis le code du prof" required/>
                            <span th:if="${#fields.hasErrors('codeprof')}" th:errors="*{codeprof}"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="nom">Nom du proffesseur</label>
                            <input for="nom-prof" class="form-control" id="nom" th:field="*{nom}"
                                   placeholder="Saisis le nom du prof" required/>
                            <span th:if="${#fields.hasErrors('nom')}" th:errors="*{nom}"></span>
                        </div>
                    </div>
                </div>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="prenom">Prenom du proffesseur</label>
                            <input for="code-prof" class="form-control" id="prenom" th:field="*{prenom}"
                                   placeholder="Saisis le prenom du prof" required/>
                            <span th:if="${#fields.hasErrors('prenom')}" th:errors="*{prenom}"></span>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group">
                            <label for="grade">Grade du proffesseur</label>
                            <input for="nom-prof" class="form-control" id="grade" th:field="*{grade}"
                                   placeholder="Saisis le grade du prof" required/>
                            <span th:if="${#fields.hasErrors('grade')}" th:errors="*{grade}"></span>
                        </div>
                        <button class="btn btn-primary" type="submit">Ajouter</button>
                    </div>
                </div>
            </form>

        </div>

    </div>

</div>
<!-- fin du section des formulaire d'ajout -->
</body>
</html>